*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.swiper-container{
    width: 100%;
}
.swiper-slide{
    width: 50%;
    position: relative;
}
.swiper-wrapper{
    transition-delay: .5s;
}
.port-img{
    width: 100%;
    overflow: hidden;
}
.port-text{
    position: absolute;
    top: 50%;
    margin-left: -50px;
    transform: translateY(-50%);
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.port-text h4{
    font-size: 40px;
    color: #fff;
    position: relative;
}
.port-text h4 span{
    position: absolute;
    height: 50px;
}